@charset "utf-8";
/* CSS Document */

:root{
	--fontColor: #00434A;
	--accentColor: #007E8C;
	--borderColor: #AC7373;
	--backgroundColor: #D18C8C;
}

body{
	background-color: var(--backgroundColor);
}
header{
	background-color: var(--borderColor);
	padding: 2.5%;
	font-size: 3rem;
	font-family: serif;
}
footer{
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: var(--borderColor);
	padding: 1%;
	font-size: 1.3rem;
	font-family: serif;
}

.backColor{
	background-color: var(--borderColor);
	box-shadow: 0px 5px 5px #9eb2ad;
}

.container-fluid{
	margin-top: 2.5%;
}

.homeImageLink:hover{
	text-decoration: none;
	text-shadow: 0px 5px 5px #9eb2ad;
}
.homeImageLink .bioImage:hover{
	box-shadow: 10px 10px 5px #9eb2ad;
}

.bioImage{
	margin-top: 25px;
	border-radius: 50% ;
	border: solid 10px var(--borderColor);
	width: 20%;
}

.bioHolder{
	text-align: center;
	margin-bottom: 7%;
}

.bioHeader{
	color: var(--fontColor);
	font-size: 1.3rem;
	font-weight: bold;
}

.bioText{
	color: var(--fontColor);
	font-size: 1.3rem;
	font-family: serif;
}

.Image{
	width: 90%;
	margin: auto;
	border: solid 3px var(--borderColor);
	border-radius: 5%;
}

.showcaseImage{
	width: 90%;
	margin: auto;
	border: solid 3px var(--borderColor);
	border-radius: 5%;
}
.showcaseImage:hover{
	box-shadow: 5px 5px 5px #9eb2ad;
}

.videoDisplay{
	width: 90%;
	margin: auto;
}

.linkButton{
	width: 100%;
	padding: 15px;
	background-color: var(--borderColor);
	border-radius: 20%;
	text-decoration: none;
	color: var(--fontColor);
}
.linkButton:hover{
	color: white;
	text-decoration: none;
}

.modal-header{
	background-color: var(--borderColor);
	color: white;
}
.modal-content{
	background-color: var(--backgroundColor);
}


.noHover:hover{
	box-shadow: 0 0 0;
}
